ADMIN_PASSWORD=
FIREBASE_API_KEY=
ONESIGNAL_APP_ID=
ONESIGNAL_REST_API_KEY=
SASPAY_API_KEY=
SASPAY_ENV=prod
SASPAY_MERCHANT_CODE=
SESSION_SECRET=
SQL_DB_NAME=
SQL_HOST=
SQL_PASSWORD=
SQL_USER=
SUPABASE_ANON_KEY=
SUPABASE_URL=
